

@media only screen and (768px < width) {
  #box-add-to-cart {
    height: 100%;
    padding: 0px 60px;

    position: relative;
    top: calc(-3vw - 60px);
  }
}


@media only screen and (1080px < width) {
  #box-add-to-cart {
    flex-direction: row;
  }
}