

@media only screen and (768px < width) {
  #prev-imgProd-button {
    display: none;
  }

  #next-imgProd-button {
    display: none;
  }

  #carousel-section {
    background-color: white;


    height: 100%;
    padding: 56px calc(9vw - 68px) 0px;

    display: flex;
    
    justify-content: start;

    gap: 32px;
  }

  #current-product-img {
    border-radius: 20px;
  }

  
  #carousel-inset {
    left: calc(-1 * clamp(16px,calc(20vw - 162px),120px));
  }


  #modal-current-product-img {
    border-radius: 20px;
    max-width: 720px;
  }

}

@media only screen and (1000px < width) {
  #modal-prev-imgProd-button{
    left: calc(25vw + 20px);
  }

  #modal-next-imgProd-button{
    right: calc(25vw + 20px);
  }
}

@media only screen and (1200px < width) {
  #modal-prev-imgProd-button{
    left: calc(50vw - 300px + 20px);
  }

  #modal-next-imgProd-button{
    right: calc(50vw - 300px + 20px);
  }
}