

@media only screen and (768px < width) {
  #prev-imgProd-button {
    display: none;
  }

  #next-imgProd-button {
    display: none;
  }

  #carousel-section {
    grid-area: 1/1/4/2;

    height: 100%;
    padding: 56px calc(9vw - 68px) 0px;

    display: flex;
    
    justify-content: start;

    gap: 32px;
    
  }

  #current-product-img {
    width: 100%;
    max-width: none;

    height: auto;

    border-radius: 20px;
  }

  
  #product-thumbnails {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    
  }

  .thumb-button {
    overflow: hidden;
    border-radius: 16px;
  }



}